*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(world.jpg);
    background-repeat: no-repeat;
    background-size: cover;
        display:flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
     height: 100vh; 
     
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
   min-width: 450px; /*  <!--le plus petit possible--> */
   background-color: white;
    padding: 20px;
    border-radius: 15px;
    border: 2px solid #000000;
}
h1{
    font-size: 40px;
    margin-bottom: 15px;
}
p{
    margin-bottom: 10px;
    font-size: 20px;
}
button{
    margin-top: 100px;
    width: 100%;
    padding: 15px 35px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover{
   /* background-color: #024e9f; */
     background-color: #0056b3;
}
 .list{
    font-size: larger;
 }